li a {
	text-align: center;
	font-size: 20px;
	font-family: 'Fira Coda', monospace;
}

.brand {
	height: 100px;
	width: 100px;
}

.navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}